body{
font-family: 'poppins', sans-serif;
}

.card {
  
  width: 20%;
float:left;
padding:20px;
margin-left:20px;
margin-bottom:20px;
margin-top:20px;
background-color:rgb(240, 240, 350);
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


fieldset{padding:20px;
margin-left:20px;
height:auto;
width:auto;
}

.im{padding:22px;}


#navbar {
  height:50px;
  overflow: hidden;
  background-color: #333;
}

a{
position:relative;
bottom:60px;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

#navbar a:hover {
  background-color:rgb(255, 165, 0);
  color: black;
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.blur{
 /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(1px);
  height:300px;
width:100%;
}

/*h1{
position:relative;
top:100%;
left:50%;
color:rgb(255, 165, 0);
}*/


h6{
  color:rgb(255, 165, 0);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border:0px;
  border-radius:20px;
  position: absolute;
  top:230px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}

h1{background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  color:rgb(255, 165, 0);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border:0px;
  border-radius:20px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}

footer{
background-color:black;
padding:50px;
height:400px;
}

input{
border-radius:10px;
width:300px;
height:30px;
border:0px;
background-color:black;
color:rgb(255, 165, 0);
opacity:0.6;
}

button{
border-radius:10px;
width:100px;
height:40px;
background-color:white;
color:white;
border:0px;
background-color:black
}

.seller{
background-color:rgb(255, 165, 0);
border-radius:20px;
color:black;
width:40%;
height:auto;
padding:20px;
}

.abt{
color:white;
width:400px;;
position:relative;
left:60%;
top:-250px;
}

h5{
color:black;
position:relative;
top:-110px;
padding:10px;
width:100%;
}
h5:hover{
color:lightgrey;
position:relative;
top:-110px;
color:black;
padding:10px;
width:100%;
background-color:rgb(255, 165, 0);
}

.logo{
margin-top:-2px;
margin-left:20px;
padding:20px;
color:rgb(255, 165, 0)
}